{% extends 'main.j2' %}

{% block alliances_display %}
    <h3 style="text-align: center">Alliances</h3>
    <div style="text-align: center; display: flex; justify-content: center;">
        <table>
            <thead>
                <tr>
                    <th>
                        Alliance Name
                    </th>
                    <th colspan="{{ max_members }}" style="text-align: center">
                        Members
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in alliances_members.items() %}
                    <tr>
                        <td style="font-weight: bold">{{ key }}</td>
                        {% for i in range(max_members) %}
                            {% if value[0] == '' and i == 0 %}
                                <td>
                                    None
                                </td>
                            {% else %}
                                <td>
                                    {{ value[i] }}
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <form class="update-player" method="POST" action="{{ url_for('create_update_form') }}">
                                <input type="hidden" name="update-type" value="Alliance" />
                                <input type="hidden" name="record" value="{{ key }}" />
                                <input type="submit" name="update" value="Update" />
                            </form>
                        </td>
                        <td>
                            <form class="delete-button" method="POST" action="{{ url_for('delete_db_entry') }}">
                                <input type="hidden" name="delete-type" value="Ability" />
                                <input type="hidden" name="record" value="{{ key }}" />
                                <input type="submit" name="delete" value="Delete" />
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <br>
        <p style="text-align: center; padding: 15px;">
            Need to add or remove a guild from an alliance? Use this instead.
        </p>
    <div class="nav-buttons">
        <a href="{{ url_for('display_alliances_guilds') }}">Edit Relationships</a>
    </div>
{% endblock alliances_display %}