{% extends 'main.j2' %}

{% block alliances_display %}
    <h3 style="text-align: center">Alliances</h3>
    <div style="text-align: center; display: flex; justify-content: center;">
        {# <table>
            <thead>
                <tr style="text-align: center;">
                    <th>
                        {{ headers[0] }}
                    </th>
                    <th>
                        Members
                    </th>
                    {% for i in range(max_members - 1) %}
                        <th></th>
                    {% endfor %}
                </tr>
            </thead>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tbody>
                {% for key, value in results.items() %}
                    <tr>
                        <td>
                            {{ key }}
                        </td>
                        {# begin members display #}
                        {% for i in range(max_members) %}
                                {% if val[i] %}
                                <td>
                                    {{ val[i] }}
                                </td>
                                {% else %}
                                <td></td>
                                {% endif%}
                        {% endfor %}
                        <td>
                            <form class="update-player" method="POST" action="{{ url_for('create_update_form') }}">
                                <input type="hidden" name="update-type" value="Player" />
                                <input type="hidden" name="record" value="{{ el['name'] }}" />
                                <input type="submit" name="Update" value="Update" />
                            </form>
                        </td>
                        <td>
                            <form class="delete-button" method="POST" action="{{ url_for('delete_db_entry') }}">
                                <input type="hidden" name="delete-type" value="Alliance" />
                                <input type="hidden" name="record" value="{{ el['name'] }}" />
                                <input type="submit" name="delete" value="Delete" />
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> #}
    </div>
{% endblock alliances_display %}