{% extends "main.j2" %}

{% block small_text %}
    <p style="text-align: center; font-size: 4px;">Did you know that polar bears have the longest migration of any land mammal?</p>
{% endblock small_text %}